/* Ini adalah kode untuk me-reset dan mengadaptasi kode CSS di browser yang berbeda-beda. 
Kode ini saya dapatkan di website Meyerweb. Harap diabaikan, karena ini bukan kode utama.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* Ini adalah kode utama yang saya buat */

body {
	font: 16px/28px arial, sans-serif;
	background-color: #eaeaea; 
	color: #333333;
}

.container {
	width: 800px;
	margin: auto;
	background-color: #fff;
}

.header {
	padding: 20px;
	padding-bottom: 10px;
}

.header .judul {
	font-size: 40px;
	font-weight: bold;
	font-family: aharoni;
	color: blue;
	text-align: left;

}

.header ul li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
}

.header a {
	text-decoration: none;
	color: red;
	padding: 3px;
}

.header a:hover {
	background-color: lightskyblue;
	color: white;
}

.hero {
	height: 280px;
	background-image: url(img/hero.png);
	background-size: cover;
	background-position: 0 -200px;
	border-top: 5px solid lightskyblue;
	border-bottom: 5px solid red;

}

.content {
	padding: 20px;
}

.content h2 {
	font-size: 32px;
	font-weight: bold;
}

.content .penulis {
	font-size: 11px;
	margin-top: -5px;
	text-indent: 0px;
}

.content p {
	margin-bottom: 20px;
	font-size: 12px;
	text-align: justify;
	text-indent: 50px;
}

.footer {
	background-color: #333;
	padding: 10px;
}

.footer .copy{
	color: #eaeaea;
	text-align: center;
	size: 12px;
}






